.component {
    background-color: var(--modal-background-color);
    color: var(--modal-color);

    &::backdrop {
        background-color: var(--modal-backdrop-color);
        backdrop-filter: blur(var(--modal-backdrop-blur));
    }
}
