.component {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.component:not(.column) > button[data-block='true'] {
    flex: 1 1 0;
}

.start {
    justify-content: flex-start;
}
.end {
    justify-content: flex-end;
}
.center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.column {
    flex-direction: column;
    align-items: stretch;
}

.column > button {
    width: 100%;
}
.gap-8 {
    gap: var(--size-8, 8px);
}
.gap-12 {
    gap: var(--size-12, 12px);
}
.gap-16 {
    gap: var(--size-16, 16px);
}
.gap-24 {
    gap: var(--size-24, 24px);
}
